{% extends "layout.html" %}


{% block body %}
<h3>Hakkımda</h3>
<hr>
Paragraf Sorularını Çözerken Nelere Dikkat Etmeliyim?
<br>
1. Paragraf sorularının çözümüne mutlaka soruyu okuyarak başlayın. İşe doğrudan paragraf okunarak başlanırsa paragrafta ne arandığı, paragrafın niçin okunduğu bilinmediğinden, paragraf, boş yere okunmuş olur. Bu durumda paragrafı iki defa okumak zorunda kalırız ki bu da bizim için büyük zaman kaybı olur.
<br>
2. Paragraf sorularında "soru kökü" çok dikkatli okunmalıdır. Değinilmemiştir, vurgulanmamaktadır, çıkarılamaz tarzındaki soruları" değinilmiştir, vurgulanmaktadır, çıkarılır" diye okursak soruları yanlış cevaplarız.
<br>
3. Paragraf soruları diğer sorulardan daha kolaydır. Çünkü paragraf sorularının hem cevabı paragrafın bütünlüğü içindedir, hem de bu sorularda gramer ya da edebiyat bilgisine gerek yoktur.Okuma alışkanlığı olan, az çok kitap okuyan öğrenciler bu soruları çok rahat çözer.
<br>
4. Paragrafta anlatılan şeyler mutlaka paragrafın bütünlüğü içinde değerlendirilmelidir.Paragrafta inanmadığımız ve bize göre doğru olmayan şeyler anlatılsa bile bunlar doğrudur. Çünkü sorular mutlaka "parçaya göre" cevaplandırılmak zorundadır. Bu yüzden paragraf sorularında kesinlikle paragrafın dışına çıkılmamalı.
<hr>
{% endblock  %}